
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Asimovian", sans-serif;
    background-color: rgb(95, 105, 135);
}
span{
    color: palevioletred;
}
.headerindex1{
    text-align: center;
    font-size: xx-large;
    padding: 20px;
}
.headerwrapperindex1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.headertitleindex1{
    border: 5px solid white;
    padding: 40px;
    background-color: black;
}
.headertitleindex1 h1{
    color: rgb(95, 105, 135);
}
.headertitleindex1 h2{
    color: rgb(95, 105, 135);
}
.navbarindex1{
    padding: 15px 30px;
    background-color: black;
    border: 5px solid white;
    padding: 20px;
    margin: 40px 80px 0px 80px;
}
.nav-linksindex1{
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.nav-linksindex1 li{
    list-style: none;
}
.nav-linksindex1 li a{
    text-decoration: none;
    color: rgb(95, 105, 135);
    transition: 0.6;
    font-size: large;
}
.nav-linksindex1 li a:hover{
    color: white;
}
.facilitymainindex1{
    text-align: center;
}
.facilitywrapperindex1{
    border: 5px solid white;
    padding: 60px 0px 60px 0px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 0px 80px 0px 80px;
    position: relative;
    overflow: hidden;
}
.facilitywrapbackmovindex1{
    position: absolute;
    z-index: -1;
    pointer-events: none;
    border: 5px solid palevioletred;
    top: 0;
}
.facilitycardindex1{
    border: 5px solid palevioletred;
    margin: 40px;
    display: flex;
    background-color: rgb(95, 105, 135);
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;

}
.facilitycardindex1 img{
    border: 5px solid black;
}
.facilityroomindex1{
    padding: 20px;
    border: 5px solid white;
}
.facilityroomindex1 h3{
    font-size: xx-large;
}
.facilityroomindex1 p{
    text-align: center;
    max-width: 240px;
    align-content: center;
}
h3{
    font-size: xx-large;
    text-align: center;
    padding: 40px;
}
.Eventstaffwrapperindex1{
    border: 5px solid white;
    justify-content: space-around;
    padding: 60px 0px 60px 0px;
    position: relative;
    overflow: hidden;
    margin: 0px 80px 0px 80px;
    flex-wrap: wrap;
    gap: 40px;
    display: flex;
}
.eventswrapbackmovindex1{
    position: absolute;
    z-index: -1;
    pointer-events: none;
    border: 5px solid palevioletred;
    top: 0;
}
.Staffcardindex1{
    border: 5px solid palevioletred;
    margin: 40px;
    display: flex;
    background-color: rgb(95, 105, 135);
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
}
.Staffcardindex1 img{
    border: 5px solid black;
}
h4{
    text-align: center;
    font-size: x-large;
    margin-bottom: 20px;
}
.Staffcardindex1 p{
    text-align: center;
}
.staffbioindex1{
    border:5px solid white;
    padding: 20px;
}
.staffbioindex1 p{
    max-width: 300px;
}
.footerindex1{
    background-color: black;
    border: 5px solid white;
    margin: 40px 80px 40px 80px;

}
.footerindex1 li{
    list-style: none;
}
.footerindex1 li a{
    text-decoration: none;
    color: rgb(95, 105, 135);
    transition: 0.6;
}
.footerindex1 li a:hover{
    color: white;
}
.h3footerindex1{
    font-size: xx-large;
    color: rgb(95, 105, 135);
    padding: 20px;
}
.footerwrapindex1{
    gap: 40px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}
.footerinfoindex1{
    border: 5px solid white;
    text-align: center;
    padding: 20px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerinfoindex1 h5{
    color: rgb(95, 105, 135);
    font-size: x-large;
    padding: 20px;
}
.footinfopicindex1{
    border: 5px solid palevioletred;
    padding: 20px;
    
}
.footerinfoindex1 li{
    color: rgb(95, 105, 135);
    margin-bottom: 20px;
}
.bottomnavbarindex1{   
    border: 5px solid white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botnavbboxindex1{
    border: 5px solid palevioletred;
    padding: 20px;
    max-width: 300px;
}
.bottomnavbarindex1 li{
    padding: 5px;
}
.bottomnavbarindex1 h5{
    color: rgb(95, 105, 135);
    font-size: x-large;
    padding: 20px;
}
.footerfollowusindex1{
    border: 5px solid white;
    text-align: center;
    padding: 20px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerfollowusindex1 h5{
    color: rgb(95, 105, 135);
    font-size: x-large;
    padding: 20px;
}
.ffsocialmediawrapindex1{
    padding: 20px;
}
.ffusindexpic1{
    border: 5px solid palevioletred;
    padding: 20px;
    min-height: 160px;
}
.footerfollowusindex1 p{
    color: rgb(95, 105, 135);
    padding: 20px;
    margin-top: 20px;
}
.upcomingindex1{
    border: 5px solid white;
    text-align: center;
    padding: 20px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upcomingindex1 h5{
    color: rgb(95, 105, 135);
    font-size: x-large;
    padding: 20px;
}
.ucpicindex1{
    border: 5px solid palevioletred;
    padding: 20px 20px 0px 20px;
}
.upcomingindex1 p{
    color: rgb(95, 105, 135);
    padding: 20px;
}
