
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Asimovian", sans-serif;
    background-color: rgb(95, 105, 135);
}
span{
    color: palevioletred;
}
.headerindex1{
    text-align: center;
    font-size: xx-large;
    padding: 20px;
}
.headerwrapperindex1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.headertitleindex1{
    border: 5px solid white;
    padding: 40px;
    background-color: black;
}
.headertitleindex1 h1{
    color: rgb(95, 105, 135);
}
.headertitleindex1 h2{
    color: rgb(95, 105, 135);
}
.navbarindex1{
    padding: 15px 30px;
    background-color: black;
    border: 5px solid white;
    padding: 20px;
    margin: 40px 80px 0px 80px;
}
.nav-linksindex1{
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.nav-linksindex1 li{
    list-style: none;
}
.nav-linksindex1 li a{
    text-decoration: none;
    color: rgb(95, 105, 135);
    transition: 0.6;
    font-size: large;
}
.nav-linksindex1 li a:hover{
    color: white;
}
.facilitymainindex1{
    text-align: center;
}
.facilitywrapperindex1{
    border: 5px solid white;
    padding: 60px 0px 60px 0px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 0px 80px 0px 80px;
    position: relative;
    overflow: hidden;
}
.facilitywrapbackmovindex1{
    position: absolute;
    z-index: -1;
    pointer-events: none;
    border: 5px solid palevioletred;
    top: 0;
}
.facilitycardindex1{
    border: 5px solid palevioletred;
    margin: 40px;
    display: flex;
    background-color: rgb(95, 105, 135);
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;

}
.facilitycardindex1 img{
    border: 5px solid black;
}
.facilityroomindex1{
    padding: 20px;
    border: 5px solid white;
}
.facilityroomindex1 h3{
    font-size: xx-large;
}
.facilityroomindex1 p{
    text-align: center;
    max-width: 240px;
    align-content: center;
}
h3{
    font-size: xx-large;
    text-align: center;
}
.Eventstaffwrapperindex1{
    border: 5px solid white;
    justify-content: space-around;
    padding: 60px 0px 60px 0px;
    position: relative;
    overflow: hidden;
    margin: 0px 80px 0px 80px;
    flex-wrap: wrap;
    gap: 40px;
    display: flex;
}
.eventswrapbackmovindex1{
    position: absolute;
    z-index: -1;
    pointer-events: none;
    border: 5px solid palevioletred;
    top: 0;
}
.Staffcardindex1{
    border: 5px solid palevioletred;
    margin: 40px;
    display: flex;
    background-color: rgb(95, 105, 135);
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
}
.Staffcardindex1 img{
    border: 5px solid black;
}
h4{
    text-align: center;
    font-size: x-large;
    margin-bottom: 20px;
}
.Staffcardindex1 p{
    text-align: center;
}
.staffbioindex1{
    border:5px solid white;
    padding: 20px;
}
.staffbioindex1 p{
    max-width: 300px;
}
.footerindex1{
    background-color: black;
    border: 5px solid white;
    margin: 40px 80px;
}
.footerindex1 li{
    list-style: none;
}
.footerindex1 li a{
    text-decoration: none;
    color: rgb(95, 105, 135);
    transition: 0.6;
}
.footerindex1 li a:hover{
    color: white;
}
.h3footerindex1{
    font-size: xx-large;
    color: rgb(95, 105, 135);
    margin-bottom: 40px;
}
.footerwrapindex1{
    gap: 40px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}
.footerinfoindex1{
    border: 5px solid white;
    text-align: center;
    padding: 20px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerinfoindex1 h5{
    color: rgb(95, 105, 135);
    font-size: x-large;
    padding: 20px;
}
.contactmailindex:hover{
    cursor: pointer;
}
.footinfopicindex1{
    border: 5px solid palevioletred;
    padding: 20px;

}
.footerinfoindex1 li{
    color: rgb(95, 105, 135);
    margin-bottom: 20px;
}
.bottomnavbarindex1{   
    border: 5px solid white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botnavbboxindex1{
    border: 5px solid palevioletred;
    padding: 20px;
    max-width: 300px;
}
.bottomnavbarindex1 li{
    padding: 5px;
}
.bottomnavbarindex1 h5{
    color: rgb(95, 105, 135);
    font-size: x-large;
    padding: 20px;
}
.footerfollowusindex1{
    border: 5px solid white;
    text-align: center;
    padding: 20px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerfollowusindex1 h5{
    color: rgb(95, 105, 135);
    font-size: x-large;
    padding: 20px;
}
.ffsocialmediawrapindex1{
    padding: 20px;
}
.ffusindexpic1{
    border: 5px solid palevioletred;
    padding: 20px;
    min-height: 160px;
}
.footerfollowusindex1 p{
    color: rgb(95, 105, 135);
    padding: 20px;
    margin-top: 20px;
}
.upcomingindex1{
    border: 5px solid white;
    text-align: center;
    padding: 20px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upcomingindex1 h5{
    color: rgb(95, 105, 135);
    font-size: x-large;
    padding: 20px;
}
.ucpicindex1{
    border: 5px solid palevioletred;
    padding: 20px 20px 0px 20px;
}
.upcomingindex1 p{
    color: rgb(95, 105, 135);
    padding: 20px;
}
.mascotvid:hover{
    cursor: pointer;
}
.copypg1{
    text-align: center;
    margin: 10px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input,
select,
textarea{
    font: inherit;
    color: inherit;
    display: flex;
    flex-direction: column;   
}
.ebuttonevents1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nlsignbuttonevents1{
    font: inherit;
    background-color: black;
    color: rgb(95, 105, 135);
    padding: 10px;
    margin: 10px; 
}
.nlsignbuttonevents1:hover{
    cursor: pointer;
    color: palevioletred;
    transform: scale(1.2);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.2);
    filter: brightness(1.3);
}
.wceccal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonreturn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.returntothetop{
    border: 5px solid white;
    padding: 20px;
    max-width: 240px;
}
.returntothetop a{
    color: rgb(95, 105, 135);
    text-decoration: none;
}
.returntothetop:hover{
    transform: scale(1.2);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.2);
    filter: brightness(1.3);
}
.returntothetop a:hover{
    color: palevioletred;
    cursor: pointer;
}
* {
  transition: 
    all 0.7s ease-in-out,
    color 0.6s ease-in-out,
    background-color 0.6s ease-in-out;
}
.nav-linksindex1 li a,
.footerindex1 li a{
  transition: color 0.3s ease, transform 0.3s ease;
}
.nav-linksindex1 li a:hover,
.footerindex1 li a:hover{
  color: white;
  transform: scale(1.2);
}
.facilitycardindex1:hover,
.Staffcardindex1:hover{
  transform: scale(1.1);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.2);
}
img:hover,
video:hover{
  transform: scale(1.2);
  filter: brightness(1.3);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.4);
}
.menu-toggleindex1{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}
.barindex1{
  height: 5px;
  width: 100%;
  background-color: palevioletred;
  border-radius: 5px;
  transition: all 0.6s ease;
}
.menu-toggleindex1.activeindex1 .barindex1:nth-child(1){
  transform: rotate(180deg) translateY(8px);
}
.menu-toggleindex1.activeindex1 .barindex1:nth-child(2){
  transform: rotate(180deg) translateY(8px);
}
.menu-toggleindex1.activeindex1 .barindex1:nth-child(3){
  transform: rotate(180deg) translateY(8px);
}
.nav-linksindex1.activeindex1{
    display: flex;
}
.nav-linksindex1 li{
    padding: 10px 0px;
}
.nav-linksindex1 li a{
    font-size: 1.2rem;
}
@media (min-width: 1600px){
body {
    font-size: 1.2rem;
}
.headerindex1{
    font-size: 2rem;
}
.mascotvid:hover{
    box-shadow: none;
}
.wcecmaspic:hover,
.wceclogo:hover{
  transform: none;
  filter: none;
  box-shadow: none;
}
.navbarindex1{
    margin: 40px 80px;
}
.eobfh3index1{
    padding: 40px 40px 0px 40px;
}
.facilitywrapperindex1,
.Eventstaffwrapperindex1,
.footerindex1{
    margin: 80px;
    padding: 80px;
}
.facilitycardindex1,
.Staffcardindex1{
    gap: 60px;
    padding: 60px;
}
.facilityroomindex1 p{
    min-width: 600px;
}
.facilitycardindex1 img,
.Staffcardindex1 img{
    width: 400px;
    height: auto;
}
.wcecnamipic:hover,
.wcecoutpic:hover{
    transform: none;
    filter: none;
    box-shadow: none;
}
.footerwrapindex1{
    gap: 80px;
}
.footerindex1{
    margin: 80px 80px 10px 80px;
}
.copypg1{
    margin: 0px 0px 10px 0px;
}
}
@media (min-width: 481px) and (max-width: 1024px) {
  body{
    font-size: 1rem;
}
.headerwrapperindex1,
.facilitywrapperindex1,
.Eventstaffwrapperindex1,
.footerwrapindex1{
    flex-wrap: wrap;
    justify-content: center;
}
.wceclogo{
    padding: 22px;
}
.headertitleindex1{
    padding: 20px;
}
h3{
    padding: 40px;
}
.nav-linksindex1{
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.facilitycardindex1,
.Staffcardindex1{
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 30px;
}
.facilitycardindex1 p{
    min-width: 440px;
}
.facilitycardindex1 img,
.Staffcardindex1 img{
    width: 80%;
    height: auto;
}
.footerwrapindex1{
    flex-wrap: wrap;
    justify-content: space-around;
}
h1, h2, h3, h4, h5{
    font-size: 1.2rem;
}
.wceccal{
    max-width: 500px;
    max-height: 300px;   
}
.returntothetop{
    margin-bottom: 40px;
}
}
@media (max-width: 480px){
body {
    font-size: 0.9rem;
}
.headerindex1{
    padding: 0px;
}
.wceclogo{
    padding: 18px;
}
.navbarindex1{
    margin-top: 0px;
}
.facilitywrapperindex1{
    margin: 0px 10px 10px 10px;
    flex-direction: column;
    align-items: center;
}
.headerwrapperindex1,
.Eventstaffwrapperindex1,
.footerwrapindex1{
    flex-direction: column;
    align-items: center;
}
.headertitleindex1{
    padding: 10px;
    text-align: center;
}
.headertitleindex1 h1,
.headertitleindex1 h2{
    font-size: 1.2rem;
}
  .menu-toggleindex1 {
      display: flex;
      margin-left: auto;
  }

  .nav-linksindex1 {
      display: none;
      flex-direction: column;
      text-align: center;
      background-color: black;
      border: 5px solid white;
      margin-top: 10px;
  }

  .nav-linksindex1.activeindex1 {
      display: flex;
  }

  .nav-linksindex1 li {
      padding: 10px 0px;
  }

  .nav-linksindex1 li a {
      font-size: 1.1rem;
  }
.facilitycardindex1,
.Staffcardindex1{
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}
.facilitycardindex1 img,
.Staffcardindex1 img,
.footerinfoindex1 img{
    max-width: 240px;
    max-height: 240px;
    border-width: 5px;
}
.facilitywrapperindex1,
.Eventstaffwrapperindex1{
    margin: 10px;
    padding: 10px;
}
.footerindex1{
    margin: 40px 10px 10px 10px;
    padding: 10px;
}
h1, h2, h3, h4, h5{
    font-size: 1rem;
    padding: 10px;
}
video{
    width: 100%;
    height: auto;
}
.footerindex1{
    text-align: center;
}
.h3footerindex1{
    margin-bottom: 0px;
}
.wceccal{
    max-width: 276px;
    max-height: 76px;
}
.returntothetop{
    margin-bottom: 20px;
}
}